#demo{
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    color: white;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
body{
    background-color: #e75353;
}