

.content{
  width: 100%;
  height: auto;
}

.about{
  width: 100%;
  padding: 2%;
  height: auto;
}

.about h1{
  font-size: 150%;
  font-weight: 100;
  padding: 1% 2% 2% 5%;
  color: gray;
}

.tabs{
  display: grid;
  width: 90%;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}
.tabs-main {
  width: 100%;
  margin: 4% auto;
}
.tabs-main h3{
  font-size: 150%;
  padding: 1% 2% 2% 5%;
  color: #142230;
}
.tabs-main h1{
  font-size: 250%;
  font-weight: lighter;
  padding: 1% 2% 2% 5%;
  color: #142230;
}
.tabs-main strong{
  font-weight: 900;
  font-size: 125%;
}
.tabs-main small{
  font-weight: lighter;
  color: gray;
  font-size: 150%;
}

.tabs-main button{
  background-color: #142230;
  padding: 3%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #142230;
  color: #fff;
  width: 50%;
  transition: 0.3s;
  margin: 5% 2% 1% 5%;
}

.tabs-main button:hover{
  background-color: #334257;
}
.tabs-main p{
  text-align: justify;
  padding: 2% 4% 2% 4%;
}
.marker{
  width: 20%;
  height: 6px;
  padding: none;
  background-color: #0f4d92;
  color: #0f4d92;
}

.director{
  max-width: 100%;
  background-image: url('../image/white-city-background-abstract-copy-space-111390653.jpg');
  position: relative;
  background-size:100% ;
  background-position: -100%;
  background-repeat: no-repeat;
  height: 300px;
}

.director .person{
  width: 325px;
  float: right;
  margin-top: -5%;
  margin-right: 12%;
}
.director .marker{
  width: 5%;
  height: 6px;
  margin: 5% 10%;
  padding: none;
  background-color: #0f4d92;
  color: #0f4d92;
}
.director h1{
  margin: -5% 10%;
  color: #142230;
  font-size: 250%;
}

.director h2{
  margin: 6% 10%;
  color: #142230;
  font-weight: lighter;
}

.director p{
  margin: -5% 45% 0 10%;
  color: #142230;
  font-weight: lighter;
}

.director ul{
  display: inline;
  margin-left: 10%;
}

.director li{
  display: inline;
  margin-right: 2%;
  font-size: 125%;
}

.director li:hover{
  color: #0f4d92;
  cursor: pointer;
}

.tabcont{
  width: 100%;
  background-color: #142230;
  padding: 2%;
  height: auto;
}
.tabcont .marker{
  width: 5%;
  height: 6px;
  margin: 1% 0 0 7%;
  padding: none;
  background-color: #fff;
  color: #fff;
}
.tabcont h1{
  margin: 2% 7%;
  color: #fff;
  font-weight: lighter;
  font-size: 250%;
}

.tabcont h3{
  margin: 1% 0 0 7%;
  color: #eee;
  font-size: 150%;
  font-weight: lighter;
}

.tabgrid{
  display: grid;
  width: 90%;
  margin: 3% auto;
  background-color: #fff;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);

}

.tabcard{
  width: 100%;
  border: 0.1px #eee solid;
  cursor: pointer;
  padding: 20% 0 20% 0;
  height: auto;
}

.tabcard img{
  width: 20%;
  filter: invert(21%) sepia(95%) saturate(1238%) hue-rotate(190deg) brightness(94%) contrast(94%);
}

.tabcard p{
  line-height: 200%;
}

.aboutus{
  max-width: 100%;
  border: 2px solid #142230;
  height: auto;
  background-color: #142230;
}

.aboutus .container{
  display: grid;
  gap: 5%;
  grid-template-areas:'text image';
}
.aboutus .text-cont{
  width: 130%;
  grid-area: text;
}

.aboutus .img-cont{
  width: 70%;
  margin-left: 30%;
  grid-area: image;
}

.aboutus .person{
  width: 80%;
  margin-right: 5%;
  margin-top: 25%;
}
.aboutus .marker{
  width: 7%;
  height: 6px;
  margin: 5% 10%;
  padding: none;
  background-color: #fff;
  color: #fff;
}
.aboutus h1{
  color: #fff;
  font-size: 250%;
  margin: -3% 10%;
}

.aboutus p{
  margin: 7% 5% 5% 10%;
  color: #eee;
  text-align: justify;
  line-height: 140%;
  position: relative;
  font-weight: lighter;
}


.whatwe{
  max-width: 100%;
  height: auto;
}
.whatwe .container{
  display: grid;
  gap: 5%;
  grid-template-areas:'image text';
}
.whatwe .text-cont{
  width: 130%;
  margin-left: -30%;
  grid-area: text;

}

.whatwe .img-cont{
  width: 70%;
  grid-area: image;
}

.whatwe .person{
  width: 120%;
  margin-left: 5%;
  margin-top: 6%;
}
.whatwe .marker{
  width: 7%;
  height: 6px;
  margin: 5% 10%;
  padding: none;
  background-color: #0f4d92;
  color: #0f4d92;
}
.whatwe h1{
  color: #142230;
  font-size: 250%;
  margin: -3% 10%;
}

.whatwe p{
  margin: 7% 5% 5% 10%;
  color: #142230;
  text-align: justify;
  line-height: 140%;
  position: relative;
  font-weight: lighter;
}



/**********************************************************************
RESPONSIVE
**********************************************************************/

@media screen and (max-width: 420px) {

  *{
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
  .about h1{
    font-size: 100%;
    font-weight: 100;
    padding: 1% 2% 2% 5%;
    color: gray;
  }
  
  .tabs{
    display: block;
    width: 90%;
    margin: auto;
  }
  .tabs-main {
    width: 100%;
    text-align: center;
    margin: 4% auto;
  }
  .tabs-main h3{
    font-size: 150%;
    padding: 1% 2% 2% 5%;
    color: #142230;
    margin-top: 10%;
    text-align: left;
  }
  .tabs-main h1{
    font-size: 250%;
    font-weight: lighter;
    padding: 1% 2% 2% 5%;
    color: #142230;
  }
  .tabs-main strong{
    font-weight: 900;
    font-size: 125%;
  }
  .tabs-main small{
    font-weight: lighter;
    color: gray;
    font-size: 150%;
    text-align: center;
  }
  
  .tabs-main button{
    background-color: #142230;
    padding: 4%;
    font-weight: bold;
    border-radius: 0px;
    border: 1px solid #142230;
    color: #fff;
    width: 50%;
    transition: 0.3s;
    margin: 5% 2% 1% 5%;
  }
  
  .tabs-main button:hover{
    background-color: #334257;
  }
  .tabs-main p{
    text-align: justify;
    padding: 0% 4% 2% 4%;
  }
  .marker{
    width: 20%;
    height: 6px;
    margin: 10% 0 0% 5%;
    padding: none;
    background-color: #0f4d92;
    color: #0f4d92;
  }
  
  .director{
    max-width: 100%;
    background-image: url('../image/white-city-background-abstract-copy-space-111390653mobile.jpg');
    position: relative;
    background-size:100% ;
    text-align: center;
    display: block;
    background-position: -100%;
    background-repeat: no-repeat;
    height: 197px;
  }
  
  .director .person{
    width: 170px;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
  }
  .director .marker{
    display: none;
  }
  .director h1{
    margin: -35% 45% 0 0;
    float: right;
    color: #142230;
    font-size: 140%;
  }
  
  .director h2{
    margin: -26% 35% 0 0;
    float: right;
    width: 60%;
    font-size: 65%;
    color: #142230;
    font-weight: lighter;
  }
  
  .director p{
    display: none;
  }
  
  .director ul{
    display: inline;
    float: left;
    width: 50%;
    margin: -20% 10% 0% 13%;
  }
  
  .director li{
    display: inline;
    margin-right: 10%;
    font-size: 90%;
  }
  
  .director li:hover{
    color: #0f4d92;
  }
  
  .tabcont{
    width: 100%;
    padding: 5%;
    background-color: #142230;
    height: auto;
  }
  .tabcont .marker{
    width: 20%;
    height: 6px;
    margin: 10% 0 2% 5%;
    padding: none;
    background-color: #fff;
    color: #fff;
  }
  .tabcont h1{
    margin: 2% 7%;
    color: #fff;
    font-weight: lighter;
    font-size: 170%;
  }
  
  .tabcont h3{
    margin: 1% 0 0 7%;
    color: #eee;
    font-size: 120%;
    font-weight: lighter;
  }
  
  .tabgrid{
    display: grid;
    width: 90%;
    margin: 10% 5% 10% 5%;
    background-color: #fff;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  
  }
  
  .tabcard{
    width: 100%;
    border: 0.1px #eee solid;
    padding: 20% 0 20% 0;
    transition: 0.3s;
    height: auto;
  }

  .tabcard img{
    width: 20%;
    filter: invert(21%) sepia(95%) saturate(1238%) hue-rotate(190deg) brightness(94%) contrast(94%);
  }
  .tabcard h2{
    font-size: 80%;
  }
  
  .tabcard p{
    line-height: 200%;
    font-size: 60%;
  }
  
  .aboutus{
    width: 100%;
    padding: 0 5% 5% 5%;
    height: auto;
    background-color: #142230;
  }
  
  .aboutus .container{
    display: block;
  }
  .aboutus .text-cont{
    width: 100%;
    grid-area: text;
  }
  
  .aboutus .img-cont{
    display: none;
  }
  
  .aboutus .marker{
    width: 20%;
    height: 6px;
    margin: 10% 0 10% 5%;
    padding: none;
    background-color: #fff;
    color: #fff;
  }
  .aboutus h1{
    color: #fff;
    font-size: 170%;
    margin: -3% 5%;
  }
  
  .aboutus p{
    margin: 7% 5% 5% 5%;
    color: #eee;
    text-align: justify;
    line-height: 120%;
    position: relative;
    font-weight: lighter;
  }
  
  
  .whatwe{
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 5%;
    height: auto;
  }
  .whatwe .container{
    display: block;
  }
  .whatwe .text-cont{
    width: 100%;
    margin-left: 0%;
  
  }
  
  .whatwe .img-cont{
    display: none;
  }
  
  .whatwe .marker{
    width: 20%;
    height: 6px;
    margin: 10% 0 10% 5%;
    padding: none;
    background-color: #0f4d92;
    color: #0f4d92;
  }
  .whatwe h1{
    color: #142230;
    font-size: 170%;
    margin: -3% 5%;
  }
  
  .whatwe p{
    margin: 7% 5% 5% 5%;
    color: #142230;
    text-align: justify;
    line-height: 120%;
    position: relative;
    font-weight: lighter;
  }
    
}


