

.content{
  position: relative;
  width: 100%;
  height: auto;
}
.content h1{
  font-size: 150%;
  font-weight: normal;
  padding: 1% 2% 2% 5%;
  color: #334257;
}
.content .keep{
  font-size: 200%;
  font-weight: normal;
  padding: 0% 2% 2% 5%;
  color: #334257;
}
.content strong{
  color: #0f4d92;
}

.photos{
  width: 100%;
  padding: 2%;
  margin-bottom: 7%;
}

.photos h1{
  color: #334257;
  font-size: 150%;
}

.photos-layout{
  width: 100%;
  padding: 0 5% 2% 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5%;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #0f4d92;
  width: 50px;
  position: absolute;
  margin: 5% 8%;
  height: 50px;
  -webkit-animation: spin 700ms linear infinite; /* Safari */
  animation: spin 700ms linear infinite;
}
.photo-card{
  padding: 1%;
  width: 100%;
  margin-bottom: 7%;
  height: 225px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border-radius: 2%;
  text-align: center;
}
.photo-card:hover{
 background-color: whitesmoke;
 cursor: pointer;
}
.photo-card h2{
  color: #142230;
  font-weight: 100;
  white-space: nowrap;
  max-width: 255px;
  margin: 1%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-lines: 1;
}
.photo-card img{
  width: 100%;
  background-color: whitesmoke;
  height: 85%;
  border-radius: 2%;
  border: 2px #fff solid;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  }

.popup {
  margin: 5% auto;
  text-align: center;
  width: 90%;
  height: 502px;
  position: relative;
}
.popup img{
  height: 500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}
.close:hover {
  color: rgb(255, 123, 123);
  cursor: pointer;
}

.photo-display{
  padding: 1%;
  width: 100%;
  height: 200px;
  cursor: pointer;
  margin-bottom: 3%;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border-radius: 5%;
  text-align: center;
}

.photo-display img{
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 5%;
  border: 2px #fff solid;
}



/**********************************************************************
RESPONSIVE
**********************************************************************/

@media screen and (max-width: 420px) {
    *{
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

  .content h1{
    font-size: 150%;
    font-weight: normal;
    padding: 1% 2% 2% 5%;
    color: #334257;
  }
  .content .keep{
    font-size: 140%;
    font-weight: normal;
    padding: 0% 2% 2% 5%;
    color: #334257;
  }
  .content strong{
    color: #0f4d92;
  }
  
  .photos{
    width: 100%;
    padding: 2%;
    margin-bottom: 7%;
  }
  
  .photos h1{
    color: #334257;
    font-size: 100%;
  }
  
  .photos-layout{
    width: 100%;
    margin: -5% 0 10% 0;
    padding: 0 5% 2% 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0% 4%;
  }
  .loader {
    border: 4px solid whitesmoke;
    border-radius: 50%;
    border-top: 4px solid #0f4d92;
    width: 35px;
    position: absolute;
    margin: 10% 16%;
    height: 35px;
    z-index: 1;
    -webkit-animation: spin 700ms linear infinite; /* Safari */
    animation: spin 700ms linear infinite;
  }
  .photo-card{
    padding: 1%;
    width: 100%;
    margin-bottom: 10%;
    height: 155px;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 2%;
    z-index: 10;
    text-align: center;
  }
  .photo-card:hover{
   background-color: none;
  }
  .photo-card h2{
    color: #142230;
    font-weight: 100;
    white-space: nowrap;
    max-width: 150px;
    margin: 1%;
    font-size: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    max-lines: 1;
  }
  .photo-card img{
    width: 100%;
    background-color: whitesmoke;
    height: 85%;
    display: block;
    border-radius: 2%;
    border: 2px #fff solid;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    background: #000;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    }
  
  .popup {
    margin: 50% auto;
    text-align: center;
    width: 100%;
    height: 250px;
    position: relative;
  }
  .popup img{
    width: 100%;
    height: 270px;
  }
  
  .prev, .next {
    position: absolute;
    top: 120%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    cursor: default;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: transparent;
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 50px;
    text-decoration: none;
    color: #fff;
  }
  .close:hover {
    color: rgb(255, 123, 123);
  }
  
  .photo-display{
    padding: 1%;
    width: 100%;
    height: 135px;
    margin-bottom: 10%;
    box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
    border-radius: 5%;
    text-align: center;
  }
  
  .photo-display img{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    border-radius: 5%;
    border: 2px #fff solid;
  }
  

}
