

.content{
  position: relative;
  width: 100%;
  height: auto;
}
.content h1{
  font-size: 150%;
  font-weight: normal;
  padding: 1% 2% 2% 5%;
  color: #334257;
}
.content .keep{
  font-size: 200%;
  font-weight: normal;
  padding: 0% 2% 2% 5%;
  color: #334257;
}
.content strong{
  color: #0f4d92;
}

.photos{
  width: 100%;
  padding: 2%;
  margin-bottom: 7%;
  height: auto;
}

.photos h1{
  color: #334257;
  font-size: 150%;
}

.photos-layout{
  width: 90%;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.photo-card{
  padding: 1%;
  width: 100%;
  margin-bottom: 10%;
  height: 225px;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border-radius: 2%;
  text-align: center;
}
.photo-card:hover{
 background-color: whitesmoke;
 cursor: pointer;
}
.photo-card h2{
  color: #142230;
  font-weight: 100;
  white-space: nowrap;
  max-width: 255px;
  margin: 1%;
  text-overflow: ellipsis;
  overflow: hidden;
  max-lines: 1;
}
.photo-card img{
  width: 100%;
  background-image: url('../image/default.jpg');
  background-size: 100%;
  background-color: whitesmoke;
  background-repeat: no-repeat;
  height: 85%;
  border-radius: 2%;
  border: 2px #fff solid;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  }

.popup {
  margin: 5% auto;
  text-align: center;
  width: 90%;
  height: 502px;
  position: relative;
}
.popup img{
  height: 500px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.popup .close {
  position: absolute;
  top: -20px;
  right: 30px;
  transition: all 200ms;
  font-size: 50px;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: rgb(255, 123, 123);
  cursor: pointer;
}

.photo-display{
  padding: 1%;
  width: 100%;
  height: 200px;
  cursor: pointer;
  margin-bottom: 10%;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  border-radius: 5%;
  text-align: center;
}

.photo-display img{
  width: 100%;
  background-image: url('../image/default.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  background-color: whitesmoke;
  border-radius: 5%;
  border: 2px #fff solid;
}



/**********************************************************************
RESPONSIVE
**********************************************************************/

@media screen and (max-width: 420px) {


}
