

.content{
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
}

.tabs-bar{
  width: 60%;
  position: relative;
  float: right;
  cursor: pointer;
  margin-right: -1.1%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.tabs{
  width: 100%;
  text-align: center;
  padding: 4%;
  background-color: #eee;
  z-index: 900;
  transform: skew(-30deg);
  font-size: 120%;
  color: #142230;
}
.tabs:hover{
  background-color: #334257;
  color: #fff;
}

.active{
  background-color: #142230;
  color: #fff;
}

.tabs h3{
  transform: skew(30deg);
}

.eventman{
  width: 100%;
  position: relative;
  padding: 2%;
}

.event{
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-areas:'image text';
}


.image{
  width: 100%;
  margin-top: 10%;
}

.image img{
  width: 90%;
  box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
}

.image .overlay{
  width: 40%;
  margin-top: -40%;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  z-index: 900;
  float: right;
}

.text{
  width: 120%;
}

.text h1{
  font-size: 200%;
  margin: 2% 7%;
  font-weight: lighter;
}

.text strong{
  color: #0f4d92;
}

.text table{
  margin: 3% 7%;
}
td{
  padding: 2% 2% 2% 0;
  font-size: 90%;
  font-weight: bold;
  width: 250px;
}

.text p{
  text-align: justify;
  font-size: 100%;
  line-height: 150%;
  color: gray;
  margin: -4% 15% 0 7%;
}

.text button{
  background-color: #fff;
  border: #142230 2px solid;
  font-weight: bold;
  border-radius: 5px;
  padding: 2%;
  float: right;
  width: 30%;
  color: #142230;
  margin: 3% 15% 0 7%;
}

.text button:hover{
  background-color: #334257;
  border: #334257 2px solid;
  cursor: pointer;
  color: white;
}



.text-left{
  width: 120%;
}

.text-left h1{
  font-size: 200%;
  margin: 2% 0%;
  font-weight: lighter;
}

.text-left strong{
  color: #0f4d92;
}

.text-left table{
  margin: 3% 0%;
}
span{
  font-size: 150%;
}
.text-left p{
  text-align: justify;
  font-size: 100%;
  line-height: 150%;
  color: gray;
  margin: -4% 25% 0 0%;
}
.text-left button{
  background-color: #fff;
  border: #142230 2px solid;
  font-weight: bold;
  border-radius: 5px;
  padding: 2%;
  width: 30%;
  color: #142230;
  margin: 3% 15% 0 0%;
}

.text-left button:hover{
  background-color: #334257;
  border: #334257 2px solid;
  cursor: pointer;
  color: white;
}


/* .event .image .right{
  width: 70%;
}

.event .text .right{
  width: 130%;
  margin-left: -30%;
} */



.skillsmain{
  width: 100%;
  display: none;
  position: relative;
  padding: 2%;
}

.skills{
  width: 80%;
  margin: 5% auto;
  display: grid;
  grid-template-areas:'image text';
}



/**********************************************************************
RESPONSIVE
**********************************************************************/

@media screen and (max-width: 420px) {
  *{
    cursor: default;
  }

  .tabs-bar{
    width: 100%;
    position: relative;
    float: none;
    margin-right: 0;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .tabs{
    width: 100%;
    text-align: center;
    padding: 7% 5% 7% 5%;
    background-color: transparent;
    z-index: 200;
    border-bottom: 1px solid gray;
    transform: skew(0deg);
    font-size: 95%;
    color: gray;
  }
  .tabs:hover{
    background-color: #334257;
    color: #fff;
  }
  
  .active{
    background-color: #142230;
    color: #fff;
  }
  
  .tabs h3{
    transform: skew(0deg);
  }
  
  .eventman{
    width: 100%;
    position: relative;
    padding: 2%;
  }
  
  .event{
    width: 80%;
    margin: 1% auto 19% auto;
    display: grid;
    grid-template-areas:'image'
                        'text';
  }
  
  
  .image{
    width: 100%;
    margin-top: 10%;
    grid-area: image;
  }
  
  .image img{
    width: 90%;
    box-shadow: rgba(100, 100, 111, 0.6) 0px 7px 29px 0px;
  }
  
  .image .overlay{
    width: 40%;
    margin-top: -40%;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    z-index: 900;
    float: right;
  }
  
  .text{
    width: 100%;
    grid-area: text;
  }
  
  .text h1{
    font-size: 150%;
    margin: 7% 0%;
    font-weight: lighter;
  }
  
  .text strong{
    color: #0f4d92;
  }
  
  .text table{
    margin: 3% 0%;
  }
  td{
    padding: 2% 2% 2% 0;
    font-size: 70%;
    font-weight: bold;
    width: 260px;
  }

  .text p{
    text-align: justify;
    font-size: 100%;
    line-height: 150%;
    color: gray;
    margin: -15% 0% 0 0%;
  }
  
  .text button{
    background-color: #fff;
    border: #142230 2px solid;
    font-weight: bold;
    border-radius: 5px;
    padding: 4%;
    width: 100%;
    color: #142230;
    margin: 3% 0 0 0;
  }
  
  .text button:hover{
    background-color: #334257;
    border: #334257 2px solid;
    cursor: pointer;
    color: white;
  }
  
  
  
  .text-left{
    width: 100%;
    grid-area: text;
  }
  
  .text-left h1{
    font-size: 150%;
    margin: 7% 0%;
    font-weight: lighter;
  }
  
  .text-left strong{
    color: #0f4d92;
  }
  
  .text-left table{
    margin: 3% 0%;
  }
  span{
    font-size: 100%;
  }
  .text-left p{
    text-align: justify;
    font-size: 100%;
    line-height: 150%;
    color: gray;
    margin: -15% 0% 0 0%;
  }
  .text-left button{
    background-color: #fff;
    border: #142230 2px solid;
    font-weight: bold;
    border-radius: 5px;
    padding: 4%;
    width: 100%;
    color: #142230;
    margin: 3% 0 0 0;
  }
  
  .text-left button:hover{
    background-color: #334257;
    border: #334257 2px solid;
    color: white;
  }
  
  .skillsmain{
    width: 100%;
    display: none;
    position: relative;
    padding: 2%;
  }
  
  .skills{
    width: 80%;
    margin: 1% auto 19% auto;
    display: grid;
    grid-template-areas:'image'
                        'text';
  }
  
    
}
