/*====================================================================
  PLATFORM DEFAULT
====================================================================*/

*{
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin: 0;
  font-size: 100%;
  scroll-behavior: smooth;
  padding: 0;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  background-color: white;
}

/**********************************************************************
***********************************************************************
ANIMATIONS
***********************************************************************
**********************************************************************/

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes growDown {
  0% {
      transform: scaleY(0)
  }
  80% {
      transform: scaleY(1.1)
  }
  100% {
      transform: scaleY(1)
  }
}
@keyframes fade {
from {opacity: 0.7}
to {opacity: 1}
}



/**********************************************************************
***********************************************************************
DESIGN: DESKTOP
***********************************************************************
**********************************************************************/


/*====================================================================
HEADER
====================================================================*/

.header{
  width: 100%;
  padding: 1%;
  height: 90px;
  background-color: white;
  display: flex;
  z-index: 100;
  align-items: center;
}
.ham, .ham-dark{
  display: none;
}
.header-identity {
  width: 34%;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  z-index: 500;
  display: flex;
  height: 90px;
  cursor: pointer;
  margin-left: -3%;
  transform: skew(-30deg);
  background: white;
}
.logo{
  margin-left: 19%;
  margin-top: 3%;
  transform: skew(30deg);
  height: 75%;
  cursor: pointer;
}
.heading{
  color:#142230; 
  margin-top: 6%;
  margin-left: 5%;
  letter-spacing: 1px;
  font-size: 180%;
  font-weight: 900;
  transform: skew(30deg);
  cursor: pointer;
}
strong{
  -webkit-text-stroke: 0.1px #142230;
}

.horizontal{
  overflow: hidden;
  width: 55%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: skew(-30deg);
  margin-top: -3%;
  z-index: 99;
  height: 70px;
  text-align: center;
  background-color: #142230;
}

.horizontal  *{
  display: inline-block;
  transform: skew(30deg);
  margin: 4% 1% 3% 0%;
}
.menu-items{
  color: #fff;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 1px;
  text-align: center;
}



.menu-items:hover{
  color: #53BDED;
}

.menu-items-active{
  color: #53BDED;
  cursor: pointer;
  width: auto;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 1px;
  text-align: center;
}


/*====================================================================
RESPONSIVE MENU
====================================================================*/

.responsive-menu{
display: none;
}

/*====================================================================
FOOTER
====================================================================*/

.footer {
  background-color: #222222;
  width: 100%;
  height: auto;
  padding: 3%;
  text-align: center;
  color: #fff;
  position: relative;
}
.footer-identity-heading{
  color:#eee;
  cursor: pointer;
  margin: 5% 0 0 5%;
  line-height: 150%;
  font-size: 150%;
}
.footer-identity{
  text-align: left;
  display: flex;
  width: 120%;
  height: 100px;
  justify-content: center;
  grid-area: identity;
}
.footer-logo{
  height: 70px;
  cursor: pointer;
}
.footer-heading{
  color:white;
  text-align: left;
  font-size: 125%;
}
.footer-companies{
  text-align: left;
  margin-left: 20%;
  grid-area: companies;
}
.footer-useful-links{
  text-align: left;
  border: #fff 2px solid;
  grid-area: usefullinks;
}
.footer-address{
  text-align: left;
  grid-area: address;
}
.list{
  margin-bottom: 8%;
}
.footer-list{
  color:#999;
  transition: 0.3s;
  text-align: left;
}
.footer-list i{
  transform: rotateY(180deg);
}
.footer-list:hover{
  color: #fff;
  cursor: pointer;
}
.footer-social{
  width: 100%;
  margin-left: 15%;
  float: right;
}
.footer-social  *{
  display: inline-block;
}
.grid_layout {
  display: grid;
  gap: 10%;
  grid-template-areas:'identity companies address';
}
.footer-bottom{
  display: grid;
  height: 60px;
  margin: 3% 0 -2% 0;
  padding: 10px 0 10px 0;
  grid-template-columns: repeat(4, 1fr);
}
.groups{
  display: flex;
  cursor: pointer;
  width: 75%;
  justify-content: center;
}
.arrow{
  border: #999 1px solid;
  width: 40px;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  border-color: #142230;
  background-color: rgb(178, 178, 178);
  color: #142230;
  transition: 0.3s;
  line-height: 40px;
  font-weight: bold;
  font-size: 150%;
  margin-left: 80%;
}
.arrow:hover{
  background-color: #eee;
}
.term-priv{
  display: flex;
  width: 175%;
  justify-content: center;
}
.groups h1{
  line-height: 40px;
  margin-left: 10%;
  color: #53BDED;
}
.footer-social-list{
  color:#999;
  transition: 0.3s;
  text-align: left;
  font-size: 125%;
}
.footer-social-list:hover{
  color: #fff;
  cursor: pointer;
}
.copyright{
  font-size: 85%;
  line-height: 40px;
  color:#999;
}
.gap{
  width: 50px;
}
.terms{
  font-size: 85%;
  line-height: 40px;
  transition: 0.3s;
  color:#999;
}
.terms:hover{
  color: #fff;
  cursor: pointer;
}




/**********************************************************************
***********************************************************************
DESIGN: MOBILE
***********************************************************************
**********************************************************************/


@media screen and (max-width: 420px) {

*{
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none;
}

/*====================================================================
HEADER
====================================================================*/

.header{
  width: 100%;
  padding: 1%;
  height: 70px;
  display: flex;
  z-index: 100;
  align-items: center;
}
.ham{
  z-index: 300;
  filter: invert(1);
  width: 6.5%;
  margin-top: -5%;
  margin-left: 12%;
  float: right;
  display: block;
}
.ham-dark{
  z-index: 300;
  filter: invert(9%) sepia(15%) saturate(2214%) hue-rotate(168deg) brightness(92%) contrast(90%);
  width: 6.5%;
  margin-top: -5%;
  margin-left: 12%;
  float: right;
  display: block;
}
.header-identity {
  width: 90%;
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  z-index: 500;
  display: flex;
  height: 65px;
  margin-top: -10px;
  margin-left: -13%;
  transform: skew(-30deg);
  background: white;
}
.logo{
  margin-left: 19%;
  margin-top: 3%;
  transform: skew(30deg);
  height: 75%;
}
.heading{
  color:#142230; 
  margin-top: 7%;
  margin-left: 5%;
  letter-spacing: 1px;
  font-size: 130%;
  font-weight: 900;
  transform: skew(30deg);
}

.horizontal{
  display: none;
}


/*====================================================================
RESPONSIVE MENU
====================================================================*/

.responsive-menu{
  display: none;
  float: left;
  width: 100%;
  position: absolute;
  z-index: 290;
  margin-top: -20%;
  background-color: white;
  padding: 22% 0% 5% 10%;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  border-bottom: 1px solid #53BDED;
}
.responsive-menu .active{
  border-bottom: 1px solid #53BDED;
}
.responsive-list{
  margin-bottom: 10%;
}
.responsive-menu-list{
  color:#142230;
  transition: 0.3s;
}
.responsive-menu-list:hover{
  color: #0f4d92;
}
.responsive-menu-active{
  color: #fff;
}


/*====================================================================
FOOTER
====================================================================*/

.footer {
background-color: #222222;
width: 100%;
height: auto;
padding: 3%;
cursor: default;
text-align: center;
color: #fff;
position: relative;
}
.footer-identity-heading{
color:#eee;
margin: 2% 0 0 5%;
cursor: default;
line-height: 150%;
font-size: 130%;
}
.footer-identity{
text-align: left;
display: flex;
width: 100%;
cursor: default;
padding: 4%;
height: 70px;
justify-content: center;
grid-area: identity;
}
.footer-logo{
height: 60px;
margin: -2% 0 0 -20%;
cursor: default;
}
.footer-heading{
color:white;
cursor: default;
text-align: left;
font-size: 90%;
}
.footer-companies{
grid-area: companies;
margin: 10% 0 0 5%;
cursor: default;
}
.footer-useful-links{
grid-area: usefullinks;
margin: 10% 0 0 5%;
cursor: default;
}
.footer-address{
grid-area: address;
margin: 10% 0 0 5%;
cursor: default;
}
.list{
margin-bottom: 5%;
cursor: default;
}
.footer-list{
color:#999;
font-size: 90%;
cursor: default;
transition: 0.3s;
}
.footer-list i{
transform: rotateY(180deg);
cursor: default;
}
.footer-list:hover{
color: #fff;
cursor: default;
}
.footer-social{
width: 100%;
cursor: default;
margin-left: 15%;
float: right;
}
.footer-social  *{
display: inline-block;
cursor: default;
font-size: 90%;
}
.grid_layout {
display: block;
}
.footer-bottom{
display: block;
height: auto;
width: 100%;
position: relative;
cursor: default;
margin: 3% 0 -2% 0;
padding: 10px 0 10px 0;
}
.groups{
display: flex;
width: 100%;
cursor: default;
justify-content: center;
}
.arrow{
border: #999 1px solid;
width: 40px;
border-radius: 50%;
border-color: #142230;
background-color: rgb(178, 178, 178);
color: #142230;
transition: 0.3s;
line-height: 40px;
font-weight: bold;
cursor: default;
float: right;
margin-top: -15%;
font-size: 150%;
}
.arrow:hover{
background-color: #eee;
}
.term-priv{
display: block;
width: 100%;
cursor: default;
justify-content: center;
}
.groups h1{
cursor: default;
line-height: 40px;
margin-left: 0;
color: #53BDED;
}
.footer-social-list{
color:#999;
cursor: default;
transition: 0.3s;
text-align: left;
font-size: 125%;
}
.footer-social-list:hover{
color: #fff;
cursor: default;
}
.copyright{
font-size: 75%;
cursor: default;
line-height: 40px;
color:#999;
}
.terms{
font-size: 75%;
line-height: 30px;
transition: 0.3s;
cursor: default;
color:#999;
}
.terms:hover{
color: #fff;
}

}

