/**********************************************************************
***********************************************************************
  DESIGN: DESKTOP
***********************************************************************
**********************************************************************/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
  .content{
    position: relative;
    width: 100%;
    margin-top: -6.7%;
    height: auto;
  }
  .slideshow-container {
    max-width: 100%;
    position: relative;
    height: 600px;
    margin: auto;
  }
  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #53BDED;
    width: 70px;
    position: absolute;
    margin: 15% auto 0 47%;
    height: 70px;
    -webkit-animation: spin 700ms linear infinite; /* Safari */
    animation: spin 700ms linear infinite;
  }
  .mySlides {
    display: none;
  }
  .mySlides img{
    filter: brightness(50%);
  }
  .mySlides .mobile{
    display: none;
  }
  .mySlides .pc{
    display: block;
  }
  .cap {
    color: #fff;
    font-size: 400%;
    margin: 15% 0 0 10%;
    position: absolute;
    top: 8px;
    width: auto;
  }
  .tag {
    color: #fff;
    font-size: 150%;
    margin: 27% 0 0 10%;
    position: absolute;
    top: 8px;
    width: auto;
  }
  
  .butt{
    color: #fff;
    background-color: #fb641b;
    padding: 1% 3% 1% 3%;
    position: absolute;
    top: 8px;
    text-align: center;
    margin: 35% 0 0 10%;
    font-weight: bold;
    transition: 0.3s;
    letter-spacing: 2px;
    width: auto;
    font-size: 100%;
  }
  
  .butt:hover{
    color: #fff;
    cursor: pointer;
    background-color: #F7A200;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
 
  .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 0.5% 0 0.5%;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot-container{
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .overlay-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,255,0.1);
  }
  .active, .dot:hover {
    background-color: #fff;
  }

  .our-company{
    display: none;
  }

  .events{
    width: 100%;
    padding: 2%;
    margin-top: 1%;
    background-color: #fff;
  }

  .events h1{
    color: #12343b;
    margin: 2% 0 2% 10%;
    font-size: 200%;
  }

  .events .marker{
    width: 7%;
    height: 6px;
    margin: 4% 0 0 10%;
    padding: none;
    background-color: #fb641b;
    color: #fb641b;
  }

  .events-grid{
    width: 100%;
    display: grid;
    gap: 2%;
    padding: 0 10%;
    grid-template-columns: repeat(4, 1fr);
  }

  .events-grid-card{
    height: auto;
    border: 0.1pc solid #ddd;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .events-grid-card img{
    width:200px;
    z-index: 100;

  }

  .events-grid-card h2{
    font-size: 100%;
    text-align: left;
    font-weight: 100;
    color: #12343b;
    margin: 1% 5% 0% 5%;
  }
  .events-grid-card h1{
    font-size: 180%;
    text-align: left;
    color: #12343b;
    margin: 5% 5% 0% 5%;
  }

  .events-grid-card h4{
    font-size: 80%;
    text-align: left;
    font-weight: 100;
    margin: 2% 5% 0% 5%;
  }

  .events-grid-card button{
    width: 100%;
    height: 40px;
    background-color: #fb641b;
    border: none;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
    margin-top: 10px;
  }

  .events-grid-card button:hover{
    background-color: #F7A200;
  }

  .events-grid-card-tag{
    height: auto;
    width: 60px;
    font-size: 50%;
    text-align: left;
    color: #fff;
    border-bottom-right-radius: 10px;
    padding: 3px;
    z-index: 500;
    position: absolute;
    float: left;
    margin-top: -205px; 
    margin-left: -2px;

  }

  .blue {
    background-color: #0f4d92;
  }
  .green {
    background-color: green;
  }
  .red {
    background-color: red;
  }
  .yellow {
    background-color: #F7A200;
  }
  .events-grid-card-veg {
    color: green;
  }


/**********************************************************************
***********************************************************************
  DESIGN: MOBILE
***********************************************************************
**********************************************************************/

  
@media screen and (max-width: 420px) {
    *{
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }

    .content{
      position: relative;
      width: 100%;
      margin-top: -20%;
      height: auto;
    }
    .slideshow-container {
      max-width: 100%;
      position: relative;
      height: 495px;
      margin: auto;
    }
    .loader {
      border: 7px solid #f3f3f3;
      border-radius: 50%;
      border-top: 7px solid #53BDED;
      width: 50px;
      position: absolute;
      margin: 65% auto 0 45%;
      height: 50px;
      -webkit-animation: spin 700ms linear infinite; /* Safari */
      animation: spin 700ms linear infinite;
    }
  
    .mySlides {
      display: none;
    }
   
    .mySlides .mobile{
      display: block;
      filter: brightness(50%);
    }
    .mySlides .pc{
      display: none;
    }
    .cap {
      color: #fff;
      font-size: 250%;
      margin: 20% 10% 0 10%;
      position: absolute;
      width: auto;
    }
    .tag {
      color: #fff;
      font-size: 120%;
      margin: 80% 0 0 10%;
      position: absolute;
      top: 8px;
      width: auto;
    }
    .prev, .next {
      position: absolute;
      top: 50%;
      display: block;
      width: auto;
      margin-top: -22px;
      cursor: default;
      padding: 16px;
      color: #eee;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
    
    .butt{
      color: #12343b;
      background-color: #fff;
      border: #fff 1px solid;
      padding: 2% 3% 2% 3%;
      position: absolute;
      top: 8px;
      z-index: 300;
      text-align: center;
      margin: 100% 0 0 10%;
      font-weight: bold;
      transition: 0.3s;
      font-size: 80%;
      letter-spacing: 2px;
      width: auto;
      user-select: none;
    }
    
    .butt:hover{
      color: #fff;
      background-color: #12343b;
      border: #fff 1px solid;
    }
   
   
    .dot {
      height: 7px;
      width: 7px;
      margin: 0 0.5% 0 0.5%;
      background-color: gray;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    .dot:hover {

      background-color: gray;

    }
    .dot-container{
      padding: 8px 12px;
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
    }
    .overlay-container{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,255,0.1);
    }
    .active {
      background-color: #fff;
    }
    .our-clients{
      width: 100%;
      padding: 2%;
      background-color: #fff;
    }
      
    .our-company{
      display: block;
      width: 100%;
      background-color: #12343b;
      height: auto;
      margin-top: -4.5%;
      margin-bottom: 2%;
      padding: 2%;
    }

    .our-company .marker{
      width: 20%;
      height: 6px;
      margin: 10% 0 7% 10%;
      padding: none;
      background-color: #fff;
      color: #fff;
    }
    
    .our-company h1{
      color: #fff;
      font-weight: bold;
      margin: 2% 0 2% 10%;
      font-size: 175%;
    }
    
    .events{
      width: 100%;
      padding: 2%;
      margin-top: 1%;
      background-color: #fff;
    }
  
    .events h1{
      color: #12343b;
      font-weight: bold;
      margin: 2% 0 2% 10%;
      font-size: 175%;
    }
  
    .events .marker{
      width: 20%;
      height: 6px;
      margin: 10% 0 7% 10%;
      padding: none;
      background-color: #fb641b;
      color: #fb641b;
    }
  
    .events-grid{
      width: 100%;
      padding: 0 5% 20% 5%;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .events-grid-card{
      width: 100%;
      margin-bottom: -15px;
    }

    .events-grid-card img{
      width:75%;
      margin-top: 5%;
    }
  
    .events-grid-card h2{
      font-size: 100%;
      text-align: left;
      font-weight: 100;
      color: #12343b;
      margin: 1% 5% 0% 5%;
    }
    .events-grid-card h1{
      font-size: 180%;
      text-align: left;
      color: #12343b;
      margin: 5% 5% 0% 5%;
    }
  
    .events-grid-card h4{
      font-size: 80%;
      text-align: left;
      font-weight: 100;
      margin: 2% 5% 0% 5%;
    }
  
    .events-grid-card button{
      width: 100%;
      height: 40px;
      background-color: #fb641b;
      border: none;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;
      margin-top: 10px;
    }
  
    .events-grid-card button:hover{
      background-color: #F7A200;
    }
  
    .events-grid-card-tag{
      width: 90px;
      font-size: 70%;
      margin-top: -260px; 
      margin-left: 0px;
  
    }


  }
  